/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .header-top{
        display: none;
    }
    .btn-main{
        display: none;
    }
    #global-nav{
        height: 60px !important;
    }
    .header-menu{
        line-height: 1rem;
    }
    .content{
        padding-top: 60px;
    }
    .carousel-caption {
        padding-bottom: 0px !important;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 40% !important;
        bottom: 40% !important;
        width: 8% !important;
    }
    .carousel-indicators {
        position: absolute;
        bottom: -10px !important;
    }
    section .title {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 20px;
    }
    /* section .title::before{
        background: rgba(0, 0, 0, 0) url(../images/h2-before-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 30px;
        vertical-align: middle;
        width: 70px;
    }
    section .title::after{
        background: rgba(0, 0, 0, 0) url(../images/h2-after-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 10px;
        margin-left: 30px;
        vertical-align: middle;
        width: 70px;
    } */
    section.service, section.section-2{
        padding: 15px 0px;
    }
    section.service .item-service h4 {
        margin: 10px 0px;
        padding: 15px 0px;
        font-size: 16px;
        text-align: center;
    }
    section.knowledge .article .article-content {
        margin-bottom: 15px;
    }
    section.knowledge .article .article-content .article-title {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    section.photos .img-left {
        padding-right: 5px !important;
    }
    section.form .form-ads {
        display: none;
    }
    section.photos .small-pic{
        margin-bottom: 13px;
    }
    section.photos .img-right {
        padding-left: 5px !important;
    }
    .footer .top-footer{
        padding: 15px;
    }
    .footer .top-footer h4 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer .top-footer p {
        font-size: 12px;
        line-height: 20px;
        text-align: center !important;
    }
    .footer .copy-footer{
        padding: 15px;
        font-size: 14px;
        color: #000de5;
    }
  }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .scrolled-nav .navbar {
        line-height: 1em;
    }
    .header-top{
        display: none;
    }
    
    .hr,.btn-main {
        display: none;
    }
    /* ============================slide show========================== */
    .carousel-caption {
        font-size: 16px;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 40% !important;
        bottom: 40% !important;
        width: 8% !important;
    }
    #global-nav {
        position: fixed;
        top: 0;
        z-index: 9999;
        /* height: 259px; */
        width: 100%;
        background: white;
        color: #fff;
        line-height: 100px;
          -webkit-transition: height .5s, line-height .5s; /* Safari */
          transition: height .5s, line-height .5s;
    }
    /* content */
   .content {
       padding-top: 62px;
   }
    /* section .title::before,
    section .title::before{
        background: rgba(0, 0, 0, 0) url(../images/h2-before-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 30px;
        vertical-align: middle;
        width: 70px;
    }
    section .title::after,
    section .title::after{
        background: rgba(0, 0, 0, 0) url(../images/h2-after-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 10px;
        margin-left: 30px;
        vertical-align: middle;
        width: 70px;
    } */
    /* ==============================Service============================ */
    section.service,
    section.section-2 {
        margin: 15px 0px;
        padding: 5px;
    }
    section.service .item-service {
        text-align: center;
    }
    section.service .item-service h4 {
        margin: 10px 0px;
        padding: 20px 0px;
        font-size: 16px;
    }
    /* section.knowledge .article {
        padding: 10px 0px;
        border-right: 1px solid #7d7d7d;
    } */
    section .title{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 20px;
    }
    section.knowledge .article .row{
        margin-bottom: 30px;
    }
    section.knowledge .article .article-content{
        padding-right: 15px;
    }
    section.knowledge .article .article-content .article-title {
        font-size: 16px; 
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    section.knowledge .article .article-content .article-dsc{
        font-size: 13px;
        line-height: 18px;
    }
    section.form .form-ads {
        max-height: 326px;
    }
    section.photos .img-left {
        padding-right: 5px !important;
    }
    section.photos .small-pic{
        margin-bottom: 10px;
    }
    section.photos .img-right {
        padding-left: 5px !important;
    }
    .footer .top-footer{
        padding: 50px 15px;
    }
    .footer .top-footer h4 {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .footer .top-footer p {
        font-size: 12px;
        line-height: 20px;
    }
    .footer .copy-footer{
        padding: 15px;
        font-size: 14px;
        color: #000de5;
    }
    #global-nav{
        height: 60px !important;
        line-height: 1rem;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {  
    .header-top img.logo{
        width: 100px;
    }
    .header-menu .navbar-light{
        line-height: 1rem;
    }
    .header-top {
        padding: 15px 15px;
    }
    .header-top img.logo{
        width: 120px;
    }
    
    #global-nav{
        height: 197px;
    }
    .scrolled-nav{
        height: 60px !important;
    }
    .content{
        padding-top: 197px;
    }
    .hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        /* border: 4px; */
        margin: 0px 60px;
        border-top: 4px solid rgba(0,0,0,.1);
    }
    /* ============================slide show========================== */
    .carousel-caption {
        font-size: 16px;
    }
    #global-nav {
        position: fixed;
        top: 0;
        z-index: 9999;
        /* height: 259px; */
        width: 100%;
        background: white;
        color: #fff;
        line-height: 100px;
          -webkit-transition: height .5s, line-height .5s; /* Safari */
          transition: height .5s, line-height .5s;
    }
    /* content */
   
    section .title::before,
    section .title::before{
        background: rgba(0, 0, 0, 0) url(../images/h2-before-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 30px;
        vertical-align: middle;
        width: 70px;
    }
    section .title::after,
    section .title::after{
        background: rgba(0, 0, 0, 0) url(../images/h2-after-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 10px;
        margin-left: 30px;
        vertical-align: middle;
        width: 70px;
    }
    /* ==============================Service============================ */
    section.service,
    section.section-2 {
        margin: 15px 0px;
        padding: 5px;
    }
    section.service .item-service {
        text-align: center;
    }
    section.service .item-service h4 {
        margin: 10px 0px;
        padding: 20px 0px;
        font-size: 16px;
    }
    /* section.knowledge .article {
        padding: 10px 0px;
        border-right: 1px solid #7d7d7d;
    } */
    section .title{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 20px;
    }
    section.knowledge .article .row{
        margin-bottom: 30px;
    }
    section.knowledge .article .article-content{
        padding-right: 15px;
    }
    section.knowledge .article .article-content .article-title {
        font-size: 16px; 
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    section.knowledge .article .article-content .article-dsc{
        font-size: 13px;
        line-height: 18px;
    }
    section.form .form-ads {
        max-height: 326px;
    }
    section.photos .img-left {
        padding-right: 5px !important;
    }
    section.photos .small-pic{
        margin-bottom: 13px;
    }
    section.photos .img-right {
        padding-left: 5px !important;
    }
    .footer .top-footer{
        padding: 50px 15px;
    }
    .footer .top-footer h4 {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .footer .top-footer p {
        font-size: 12px;
        line-height: 20px;
    }
    .footer .copy-footer{
        padding: 15px;
        font-size: 14px;
        color: #000de5;
    }

    .form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{
        /* padding: 8px 10px; */
        /* font-size: 12px; */
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 

    /* column */
    section.knowledge .article .col-lg-5 {
        padding-right: 10px;
    }
    section.knowledge .article .col-lg-7 {
        padding-left: 10px;
    }
    .scrolled-nav .header-top{
        display: none;
    }
    .header-top {
        padding: 15px 65px;
    }
    .header-top img.logo{
        width: 120px;
    }
    .header-menu .navbar{
        padding: 0px 70px 0px 90px;
    }
    .header-menu .navbar-light .fa-search {
        font-size: 20px;
    }
    .scrolled-nav .header-menu .navbar-light .navbar-nav .nav-link{
        font-size: 16px;
        line-height: 50px;
    }
    .home-item {
        padding-left: 20px !important;
        padding-right: 20px !important;
        background: #189;
    }
    .header-menu .navbar-light .navbar-nav .nav-link{
        font-size: 22px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-menu .navbar-light .navbar-brand{
        display: none;
    }
    #global-nav{
        height: 197px;
    }
    .scrolled-nav{
        height: 60px !important;
    }
    .content{
        padding-top: 259px;
    }
    .hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        /* border: 4px; */
        margin: 0px 60px;
        border-top: 4px solid rgba(0,0,0,.1);
    }
    /* ============================slide show========================== */
    .carousel-caption {
        font-size: 22px;
    }
    #global-nav {
        position: fixed;
        top: 0;
        z-index: 9999;
        /* height: 259px; */
        width: 100%;
        background: white;
        color: #fff;
        line-height: 100px;
          -webkit-transition: height .5s, line-height .5s; /* Safari */
          transition: height .5s, line-height .5s;
    }
    /* content */
   
    section .title::before,
    section .title::before{
        background: rgba(0, 0, 0, 0) url(../images/h2-before-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 30px;
        vertical-align: middle;
        width: 70px;
    }
    section .title::after,
    section .title::after{
        background: rgba(0, 0, 0, 0) url(../images/h2-after-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 10px;
        margin-left: 30px;
        vertical-align: middle;
        width: 70px;
    }
    /* ==============================Service============================ */
    section.service,
    section.section-2 {
        margin: 15px 0px;
        padding: 5px;
    }
    section.service .item-service {
        text-align: center;
    }
    section.service .item-service h4 {
        margin: 10px 0px;
        padding: 20px 0px;
        font-size: 16px;
    }
    /* section.knowledge .article {
        padding: 10px 0px;
        border-right: 1px solid #7d7d7d;
    } */
    section .title{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 20px;
    }
    section.knowledge .article .row{
        margin-bottom: 30px;
    }
    section.knowledge .article .article-content{
        padding-right: 15px;
    }
    section.knowledge .article .article-content .article-title {
        font-size: 16px; 
        line-height: 22px;
        margin-bottom: 10px;
    }
    section.knowledge .article .article-content .article-dsc{
        font-size: 13px;
        line-height: 18px;
    }
    section.form .form-ads {
        max-height: 326px;
    }
    section.photos .img-left {
        padding-right: 5px !important;
    }
    section.photos .small-pic{
        margin-bottom: 12px;
    }
    section.photos .img-right {
        padding-left: 5px !important;
    }
    .footer .top-footer{
        padding: 50px 15px;
    }
    .footer .top-footer h4 {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .footer .top-footer p {
        font-size: 14px;
        line-height: 20px;
    }
    .footer .copy-footer{
        padding: 15px;
        font-size: 14px;
        color: #000de5;
    }
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .scrolled-nav .header-top{
        display: none;
    }
    .header-top{
        padding: 15px 65px;
    }
    .header-top img.logo{
        /*width: 120px;*/
        width: 30%;
    }
    .header-menu .navbar{
        padding: 0px 70px 0px 90px;
    }
    .header-menu .navbar-light .fa-search {
        font-size: 20px;
    }
    .scrolled-nav .header-menu .navbar-light .navbar-nav .nav-link{
        font-size: 18px;
    }
    .home-item {
        padding-left: 25px !important;
        padding-right: 25px !important;
        /* background: #189; */
    }
    .header-menu .navbar-light .navbar-nav .nav-link{
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-menu .navbar-light .navbar-brand{
        display: none;
    }
    /* ==============================Content=========================== */
    .content{
        padding-top: 259px;
    }
    .hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        /* border: 4px; */
        margin: 0px 60px;
        border-top: 4px solid rgba(0,0,0,.1);
    }
    /* ============================slide show========================== */
    .carousel-caption {
        font-size: 22px;
    }
    #global-nav {
        position: fixed;
        top: 0;
        z-index: 9999;
        height: 259px;
        width: 100%;
        background: white;
        color: #fff;
        line-height: 100px;
          -webkit-transition: height .5s, line-height .5s; /* Safari */
          transition: height .5s, line-height .5s;
    }
    /* content */
   
    section .title::before,
    section .title::before{
        background: rgba(0, 0, 0, 0) url(../images/h2-before-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 30px;
        vertical-align: middle;
        width: 70px;
    }
    section .title::after,
    section .title::after{
        background: rgba(0, 0, 0, 0) url(../images/h2-after-blue.jpg) no-repeat left top;
        content: "";
        display: inline-block;
        height: 10px;
        margin-left: 30px;
        vertical-align: middle;
        width: 70px;
    }
    /* ==============================Service============================ */
    section.service,
    section.section-2 {
        margin: 15px 0px;
        padding: 15px;
    }
    section.service .item-service {
        text-align: center;
    }
    section.service .item-service h4 {
        margin: 10px 0px;
        padding: 30px 0px;
    }
    /* section.knowledge .article {
        padding: 10px 0px;
        border-right: 1px solid #7d7d7d;
    } */
    /* .right-content {
        padding: 10px 0px;
        border-left: 1px solid #7d7d7d;
    } */
    section .title{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    section.knowledge .article .row{
        margin-bottom: 30px;
    }
    section.knowledge .article .article-content{
        padding-right: 15px;
    }
    section.knowledge .article .article-content .article-title {
        font-size: 20px; 
        line-height: 24px;
        margin-bottom: 10px;
    }
    section.knowledge .article .article-content .article-dsc{
        font-size: 16px;
        line-height: 22px;
    }
    section.form .form-ads {
        max-height: 326px;
    }
    section.photos .img-left {
        padding-right: 5px !important;
    }
    section.photos .small-pic{
        margin-bottom: 12px;
    }
    section.photos .img-right {
        padding-left: 5px !important;
    }
    .footer .top-footer{
        padding: 50px 15px;
    }
    .footer .top-footer h4 {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .footer .top-footer p {
        font-size: 14px;
        line-height: 20px;
    }
    .footer .copy-footer{
        padding: 15px;
        font-size: 14px;
        color: #000de5;
    }

 }
/* ====================================  */
body {
    font-family: 'Battambang', roboto;
    font-size: 12px;
    line-height: 18px;
    height: 1000px;
}
a:hover {
    text-decoration: none;
}
.header-menu .navbar-light .fa-search {
    color: black;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: black;
}
.header-menu .navbar-light .navbar-nav .nav-link.active {
    background-color: #000de5;
    color: #fff !important;
}
.btn-main {
    color: #fff;
    background-color: #000de5;
    border-color: #000de5;
    padding: 15px !important;
}
/* =======================Slide Show======================== */
.carousel-caption {
    right: 2%;
    left: 2%;
    text-align: left;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 46%;
    bottom: 46%;
    /* right: 12%; */
    background-color: #040de5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4%;
    color: #fff;
    text-align: center;
    opacity: .5;
}
.carousel-control-prev {
    left: 1%;
}
.carousel-control-next {
    right: 1%;
}
/* ==============================Content============================ */
section .title{
    text-align: center;
    color: #040de5;
}
section.knowledge .article .article-content {
    /* line-height: 22px; */
    color: #7d7d7d;
}
section.knowledge .article .article-content .article-title {
    
}
section.knowledge .article .article-content .article-title a{
    color: #7d7d7d;
}
/* ==============================Service============================ */
section.service .item-service h4 {
    color: #040de5;
}
/* ==============================footer============================= */
.footer {
    background-image: url('../images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footer-bg {
    background-color: rgba(0,0,0,.7);
}
#global-nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    /* height: 275px; */
    width: 100%;
    background: white;
    color: #fff;
    /* line-height: 116px; */
      -webkit-transition: height .5s, line-height .5s; /* Safari */
      transition: height .5s, line-height .5s;
}
.scrolled-nav {
    height: 60px !important;
    line-height: 60px !important;
    background: white !important;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
    
}
  .scrolled-nav .header-top{
      display: none;
      -webkit-transition: all .5s;
      transition: all .5s;
  }
  .scrolled-nav .navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.counter {
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    position: fixed;
    top: 120px;
    right: 0;
}

  