
/*
::::Stylesheet by:::::::::::::::::::
::  Name: Ngorn Sokmean           ::
::  Email: ngornsokmean@gmail.com ::
::::::::::::::::::::::::::::::::::::
*/



@charset "utf-8";
@import url('bootstrap.min.css');
@import url('smartadmin-production.css');
@import url('font-awesome.min.css');
@import url('photo-stack.css');
@import url('blueimp-gallery.min.css');
@import url('bootstrap-image-gallery.min.css');
@import url('non-responsive.css');
@import url('bootstrap-social.css');
@import url(http://fonts.googleapis.com/css?family=Battambang);
@import url(http://fonts.googleapis.com/css?family=Moul);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(slick.css);
@import url(lightbox.css);
@import url(attr.css);
@import url(crocodoc.viewer.min.css);
html,body{font-family: 'Battambang', Roboto; line-height: 27px; margin: 0px; padding: 0px; height: 100%; background-color: #fff;}
#wrap {min-height: 100%; height: auto; margin-bottom: -168px; padding-bottom: 168px; background: #f2f3f4;}
@media(max-width: 767px){
	.standart-side{text-align: center;}
	.logo-side{text-align: center;}
	.logo-side img{width: 300px;}
}
.header .top-menu{font-size: 11px; display: inline-block;}
.header .top-menu a{color: #777;}
.header .top-menu a.en{background: url(images/en.png) no-repeat center right; padding-right: 20px;}
.header .top-menu a.kh{background: url(images/kh.png) no-repeat center right; padding-right: 20px;}
.header .form-search{margin: 2px 0; width: 158px; height: 21px; background: url(images/search-bg.png) no-repeat; display: inline-block;}
.header .form-search .search-textbox{background: none; width: 130px; float: left; height: 21px; border: none; padding: 0px 0px 0px 10px; font-size: 12px; color: #555;}
.header .form-search .search-textbox:focus{outline: none;}
.header .form-search .search-btn{width: 27px; float: right; height: 21px; background: url(images/ico-search.png) no-repeat 7px 4px; border: none;}
.shadow{background: url(images/shadow-header.png) no-repeat center top; height: 10px; margin-bottom: -10px;}
.logo-side{margin-top: 10px;}
.standart-side{margin-top: 10px;}

/*custom nav*/
.navbar-side{margin-top: 0px; padding: 0px; background: linear-gradient(to bottom, #039CDF 0%,#083A83 100%); /*background: url(../img/nav-bg.jpg) repeat-x;*/}
.navbar-nav{margin: 0px; position: relative; z-index: 100;}
.navbar-nav>li{padding: 1px 0px;}
.navbar-nav li.active{}
.navbar-nav li>a{font-size: 13px; line-height: 25px; background: url(../img/sepnav.jpg) no-repeat right; color: #fff; padding: 4px 15px; margin: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; width: 100%; position: relative;}
.navbar-nav li .dropdown-menu  a{color: #164B99;}
.navbar-nav li a:focus,.navbar-nav li>a:hover{background-color: rgba(20, 132, 212, 0);}
.navbar-nav li span{color: #fefefe; margin-right: 10px; color: #9E9E9E; margin-right: 10px; font-size: 13px;}
.navbar-nav .navbar-right:last-child{margin-right: 0px;}
.navbar-nav .dropdown-menu{width: 500px !important; border-radius: 0px; z-index: 1; position: absolute;}
.navbar-nav .dropdown-menu li{border: none;}
.navbar-nav .dropdown-menu li a:hover{background: #eee !important;}
.navbar-default{margin: 0px; background: #eee;}
.navbar-default .navbar-toggle{padding: 5px; margin: 4px; border-radius: 0px; margin-right: 15px;}
.navbar-collapse{padding: 0px 15px;}
.navbar-collapse.in {overflow-y: visible; max-height: 100%;}

.social-btn{margin: 8px 0 0 0!important;}
.btn-youtube{background-color: #E02927; color: #fff;}
.btn-youtube:hover{background-color: #EC3C3A; color: #fff;}

.social-btn a{float: left; margin: 0px 2px;}
.social-btn .sbtn{width: 20px; height: 20px; display: block;}
.social-btn .sbtn.facebook{background: url(../img/socialbtn.png) no-repeat 0px 0px;}
.social-btn .sbtn.youtube{background: url(../img/socialbtn.png) no-repeat -23px 0px;}
.social-btn .sbtn.twitter{background: url(../img/socialbtn.png) no-repeat -47px 0px;}



.navbar-form.smart-form{margin: 6px 43px 0px 12px}
.navbar-form.smart-form input{padding-top: 1px; padding-bottom: 1px; height: auto; border-radius: 8px; height: 22px; font-size: 12px;}
.navbar-form.smart-form .icon-append{top: 4px; height: 15px; line-height: 16px; font-size: 12px; border: none;}

.advance-mobile{width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.advance-mobile .navbar-mobile{display: none; width: 100%; height: 100%; position: fixed; top: 0; z-index: 101; background: rgba(255, 255, 255, 0.93);}
.advance-mobile .navbar-mobile .container{height: 100%;}
.advance-mobile ul{list-style: none; height: 100%; overflow: auto;}
.advance-mobile ul li a{color: #164B99;}
.advance-mobile ul li ul{padding-left: 20px;}
.advance-mobile ul li ul a{color: #6A87D0;}
.btn-close-nav{display: block; position: relative; width: 40px; height: 40px; border: 1px solid #eee;margin-bottom: -1px;}
.btn-close-nav .fa-mobile-navbar{position: absolute; top: 0; left: 12px; line-height: 38px;}
.shadow-nav-mobile{background: url(images/shadow-header.png) no-repeat left top; height: 10px; margin-bottom: -10px; width: 50%; float: right;}
.btn-open-nav{display: block; position: relative; width: 40px; height: 40px; border: 1px solid #eee; margin-left: 10px;}
.btn-open-nav .fa-mobile-navbar{position: absolute; top: 0; left: 10px; line-height: 38px;}

.language-bar{z-index: 2; margin-top: 5px; margin-right: 10px;}
.language-bar a{font-size: 13px; color: #676767;}

.follow{display: inline-block;}
.follow a{width: 24px; height: 24px; display: block; float: left; margin-right: 5px; opacity: 0.7;}
.follow .print{background: url(images/follow-btn.png) no-repeat 0px 0px;}
.follow .rss{background: url(images/follow-btn.png) no-repeat -29px 0px;}
.follow .facebook{background: url(images/follow-btn.png) no-repeat -57px 0px;}
.follow .twiter{background: url(images/follow-btn.png) no-repeat -86px 0px;}
.follow .in{background: url(images/follow-btn.png) no-repeat -113px 0px;}
.follow .flicker{background: url(images/follow-btn.png) no-repeat -141px 0px;}
.follow .youtube{background: url(images/follow-btn.png) no-repeat -169px 0px;}
.follow a:hover{opacity: 1;}

.menu-item-site{list-style: none;}
.menu-item-site li{display: block;}
.menu-item-site li a{display: block; padding: 2px 10px; text-decoration: none;}
.detail-menu-site{word-wrap: break-word; text-align: center;}
.detail-menu-site h4{}
.detail-menu-site img{width: 100%;}
.detail-menu-site p{margin: 10px 0px 0px;}
@media(max-width: 767px){
	.navbar-nav .pull-right, .navbar-nav .pull-left{float: none !important;}
	.navbar-nav .dropdown-menu{background: #fff !important; width: 100% !important;}
	.navbar-nav .menu-item-site{width: 100%;}
	.navbar-nav .dropdown-menu li a{text-align: left;}
	.navbar-nav li a{text-align: left;}
}

/*custom carousel*/
.first-carousel{margin-top: 10px;}
.slide-show {padding: 0px; margin-bottom: 5px; z-index: 0;}
.slide-show .carousel{padding-right: 0px;}
@media screen and (max-width: 767px){.slide-show .carousel{}}
.slide-show .carousel-inner{background: #fff;}
.slide-show  .img-slide{margin: 0px; padding: 0px;}
.slide-show  .slide-img-wrap{overflow: hidden;}
.slide-show  .slide-img-wrap img{width: 100%;}
.slide-show  .img-slide img{position: relative; height: auto; width: 100%;}
.slide-show  .item{height: 100%;}
.slide-show .carousel-caption{width: 100%; left: 0px; bottom: 0px;}
.slide-show .carousel-caption .carousel-caption-inner{height: auto; word-wrap: break-word; background: rgba(0, 0, 0, 0.27); width: 100%; bottom: 0px; position: absolute; padding: 9px 30px;}
.slide-show .slide-title{padding-right: 60px; color: #FFFFFF; text-shadow: none; font-size: 13px; font-weight: normal; text-align: left; white-space: nowrap; display: block; overflow: hidden; text-overflow: ellipsis;}
.slide-show a{text-decoration: none;}
.slide-show .slide-title-xs .slide-title{padding: 10px; background: #0386BD; color: #fff; text-decoration: none;}
.slide-show .carousel-caption p{color: #FFFFFF; margin: 0px; text-shadow: none; font-size: 13px; text-align: left;}
.slide-show .inicators-wrap{position: absolute; width: 100%; bottom: 0px;}
.slide-show .carousel-indicators{width: auto; right: 10px; left: auto; bottom: -6px;}
.slide-show .carousel-indicators li{ width: 14px; height: 14px;}
.slide-show .carousel-indicators .active{ width: 15px; height: 15px;}
.carousel-control{width: 50px; font-size: 15px; background: none!important; opacity: 0; z-index: 999;}
.carousel-control:hover{width: 40px; font-size: 15px; background: none!important; opacity: 1; }
.carousel-control span{padding: 8px; display: block; width: 50px!important; height: 50px; height: 50px; cursor: pointer;}
.carousel-control.left span{background: url(../img/white_arrow-left.png) center;}
.carousel-control.right span{background: url(../img/white_arrow-right.png) center;}
.carousel-control span{top: 40%!important; position: absolute;}
.right.carousel-control span{right: 10%!important;}
.left.carousel-control span{left: 10%!important;}
.slide-title-response{text-decoration: none!important; bottom: 0; background: rgba(0, 0, 0, 0.25); padding: 5px;}
.slide-title-response .slide-title{color: #fff; text-shadow: none; font-size: 100%;}

/*custom panel slide show*/
.slide-show .panel{padding: 0px; margin: 0px; border: none; border-radius: 0px; box-shadow: none; margin-top: 15px;}
.slide-show .panel-heading{border-color: #E9E9E9; background: url(images/repeat-panel-header.png) repeat-x; border-radius: 0px; margin-bottom: 2px;}
.slide-show .panel-title{text-shadow: 0px 1px 1px #fff;}
.slide-show .panel-body{padding: 0px; height: 200px; overflow: hidden;}
.slide-show .panel-body a.detail{display: none; background: url(images/white80.png); color: #5A74AC; position: relative; padding: 10px; font-size: 14px;}
.slide-show .panel-body:hover a.detail{display: block; bottom: 0px; position: absolute; width: 95%;}

/**/
.list-wrap{padding-top: 15px;}
.list-wrap .panel{border: none;}
.list-wrap .panel .panel-heading{}
.list-wrap .panel .panel-heading .panel-title{color: #007AC6; font-weight: bold; padding: 10px; font-size: 19px;}
.list-wrap .panel .panel-body{padding: 0px;}
.list-wrap .list-group{margin: 0px;}
.list-wrap .list-group .list-group-item{border-radius: 0px; border: none; background: url(../img/pointer.png) no-repeat 10px 7px; padding: 5px 30px 0px 35px; word-wrap: break-word;}
.list-wrap .list-group .list-group-item .title{font-size: 13px; color: #666;}
.list-wrap .list-group .list-group-item .title:hover{text-decoration: none; color: #007AC6; transition: .3s;}
.list-wrap .list-group .list-group-item .date{font-size: 11px; color: #999;}
.list-wrap .panel hr{margin: 10px 0px;}
/*.list-wrap .panel .panel-footer{background-color: #fff; border-top: none; text-align: right; margin-right: 0px;}
.list-wrap .panel .panel-footer a{color: #007AC6;}
.list-wrap .panel .panel-footer a:hover{color: #666666; text-decoration: none;}*/

/**/
.list-panel-wrap{background: #fff; padding-top: 0px;}
.list-panel-wrap .panel{border: 1px solid #eee; border-radius: 0px; min-height: 0px;}
.list-panel-wrap .panel .panel-heading{border-radius: 0px; padding: 2px; background: transparent; border: none;}
.list-panel-wrap .panel .panel-heading .panel-title{text-shadow: 0px 1px 1px #fff; font-weight: bold; padding: 6px 10px; font-size: 19px; color: #007AC6;}
.list-panel-wrap .panel .panel-body{padding: 10px; word-wrap: break-word;}
.list-panel-wrap .panel .panel-body p{padding: 0px; margin: 0px; color: #666;}
.list-panel-wrap .panel .panel-body .sub-site{display: block; margin: 12px;}
.list-panel-wrap .list-group{margin: 0px; padding-top: 15px;}
.list-panel-wrap .list-group .list-group-item{border-radius: 0px; border: none; padding: 0px;}
.list-panel-wrap .list-group .list-group-item .media .media-object{margin-bottom: 15px; width: 50px;}
.list-panel-wrap .list-group .list-group-item .media .media-heading{font-size: 14px; color: #666;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; width: 100%;}
.list-panel-wrap .list-group .list-group-item .media  p{font-size: 13px; color: #999; margin: 0;}
.list-panel-wrap .panel hr{margin: 10px 0px;}
/*.list-panel-wrap .panel .panel-footer{background-color: #fff; border-top: none; text-align: right;}
.list-panel-wrap .panel .panel-footer a{/*color: #007AC6;*/}*/
.list-panel-wrap .panel .gallery-group{padding: 20px; max-width: 200px; margin: 0px auto;}
/*.panel-footer{padding-top: 0px;}*/
.panel-heading{padding: 2px 15px;}
.list-panel-wrap  .panel .category-index{padding: 0px;}
.list-panel-wrap .link-panel .panel-heading .panel-title{background: #fff; border-bottom: 1px solid #eee;}
.list-panel-wrap .link-panel{min-height: 0; padding: 0 15px;}
.list-group-item .media-heading:hover{text-decoration: none; color: #007AC6;}

/*custom inside category*/
.inside-category{background: url(images/right-nav.png) repeat-y right;}
.inside-category .thumbnail-list{margin-bottom: 20px;}
.inside-category .title-list{font-size: 15px; color: #444; margin-bottom: 5px; font-weight: bold; word-wrap: break-word;}
.inside-category .description-list{font-size: 13px; color: #888; margin-bottom: 20px;}
/*.inside-category .footer-list{border-top: 1px solid #eee; border-bottom: 1px solid #eee; margin-bottom: 15px; padding: 5px 0px;}
.inside-category .footer-list, .inside-category .footer-list a{font-size: 12px; color: #999;}*/
.inside-category-list-detail{background-color: #fff; /*background: url(images/list-category-bg.png) repeat-y right 0px;*/ padding: 15px;}
.detail-wrap{}
.detail-wrap .post-attr{border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 5px 0px; font-size: 12px; color: #999; margin-bottom: 10px;}
.detail-wrap .visitor{margin-bottom: 15px;}
.detail-wrap .btn-group{padding: 0px;}
.detail-wrap .btn-group li{padding: 0px;}
.detail-wrap .btn-group li a{color: #777; text-decoration: none; font-size: 12px; padding: 7px 10px; display: block; font-family: Battambang, Moul, Tahoma;}
.detail-wrap .btn-group li.active a{color: #2F7BB6;}
.detail-wrap .tab-pane{border: none !important;}
.detail-wrap .tab-content p{font-size: 14px; color: #777; text-align: justify;}
.detail-wrap .tab-content .media-list p{font-size: 14px; color: #777;}

.detail-wrap .superbox-list.active:before{bottom: -16px;}


.absolute{position: absolute; padding-top: 4px;}
.ajax-dropdown{left: auto; height: auto; right: 0px; top: 35px; padding: 0px; background: rgba(255, 255, 255, 0.8); width: auto;}
.ajax-dropdown:before{right: 20px; left: auto;}
.ajax-dropdown:after{left: auto; right: 21px;}
.header-pane-dropdown{background: #FDFDFD; font-size: 14px; color: #2F7BB6; font-family: Moul, Tahoma; padding: 8px 15px!important; text-shadow: 0px 1px 1px #fff; border-bottom: 1px solid #eee;}
.social-link{padding: 20px 15px !important;}
.social-link a{font-size: 30px; color: #2F7BB6; margin-right: 7px;}
.social-link a:hover{color: #2F7B72;}


.superbox{margin: 10px 0px;}
.superbox div:last-child{display: none;}
.superbox-list{background: #eee;}
@media(min-width:0px){.superbox-list{width:50%}}
@media(min-width:320px){.superbox-list{width:50%}}
@media(min-width:486px){.superbox-list{width:50%}}
@media(min-width:768px){.superbox-list{width:50%}}
@media(min-width:1025px){.superbox-list{width:25%}}
@media(min-width:1824px){.superbox-list{width:25%}}

/*custom smart form*/
.smart-form header{margin: 0 0 10px 0px; padding: 0 0 10px; font-size: 15px; font-weight: bold; color: #2F7BB6; font-family: Battambang, Moul, Tahoma; background: none;}
.smart-form fieldset{padding: 5px 0px 25px; background: none;}
.smart-form .typeahead{border-radius: 0px; width: 100%; border: none;}
.smart-form .typeahead li a{padding: 4px 7px;}
.smart-form .typeahead .record{}
.smart-form .typeahead .record .title{background: none; float: right; font-size: 14px; color: #555; width: 80%; white-space: nowrap; display: block; text-overflow: ellipsis; overflow: hidden;}
.smart-form .typeahead .record .image-thumb{float: left; width: 40px; height: 40px; overflow: hidden;}
.smart-form .dropdown-menu>.active>a, .smart-form .dropdown-menu>.active>a:hover, .smart-form .dropdown-menu>.active>a:focus{background-color: #eee;}
.smart-form input[type=text].ui-autocomplete-loading{background-position: 88% 50%;}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea{font-family: 'Battambang', Roboto;}
::-webkit-input-placeholder {padding-top: 5px;}
::-moz-placeholder {padding-top: 5px;} /* firefox 19+ */
:-ms-input-placeholder {padding-top: 5px;} /* ie */
input:-moz-placeholder {padding-top: 5px;}


/*404*/
.form-control{}

/*custom nav collapse*/
.right-nav{padding: 15px;}
nav{margin-bottom: 50px}
nav ul b{float: left;}
nav ul li{border-bottom: 1px solid #eee;}
nav ul li a.active{font-weight: bold;}
nav ul li a i.fa{}
nav ul li a span.badge {margin: 3px 0px; background: #D3D3D3; font-weight: normal;}
nav ul li a{color: #555;}
nav ul li a:hover{color: #555;}
nav ul li a:active{background:#fff!important}
nav ul li.open>a, nav ul li.open>a b{color: #555 !important;}
nav ul ul{background: #fff;}
nav ul ul li{border: none !important;}
nav ul ul li>a{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
nav ul ul li>a:hover{background-color: #fafafa; color: #555;}


/*custom tab panel*/
.inside-category .tab-pane-wrap{border-left: 1px solid #eee; border-bottom: 1px solid #eee; border-right: 1px solid #eee;}
.inside-category .nav-tabs>li.active>a{font-weight: normal;}
.inside-category .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{color: #2F7BB6;}
.inside-category .nav-tabs{border: none; background: #eee;}
.inside-category .nav-tabs>li>a{border: none; margin-right: 0px; font-size: 16px; border-right: 1px solid #fff; font-family: Battambang, Moul, Tahoma; font-size: 13px;}
.inside-category .media-object{border: 1px solid #eee;}
.inside-category .media-heading{white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; color: #555; margin: 0px;}
.inside-category .date{font-size: 11px; color: #999; margin: 0px;}

/*photo gallery*/
.album-item{min-height: 290px; margin-bottom: 40px;}
.album-item .gallery-group{padding: 10px;}
.album-item .title{word-wrap: break-word; display: block; font-size: 15px; color: #555;padding: 10px 0px; margin: 0px;}
.album-item .date,.photo-gallery .date{border-top: 1px solid #eee; border-bottom: 1px solid #eee; color: #999; padding: 10px 0px; font-size: 11px;}
.photo-gallery{}
.photo-gallery .title-list{}
/*.photo-gallery .footer-list{margin: 10px 0px;}*/

/*video gallery*/
.video-gallery{margin-top: 15px; margin-bottom: 15px; padding: 0px; list-style: none;}
.video-gallery .video-gallery-item{min-height: 350px;}
.video-gallery a{display: block; background: #eee;}
.video-gallery li{overflow: hidden; height: 200px; margin-bottom: 15px;}
.video-gallery .title{font-size: 16px;}
.video-gallery .date{font-size: 12px; color: #999; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 10px 0px; margin-bottom: 15px;}
.video-gallery img{width: 100%;}
.video-gallery iframe{width: 100% !important;}
/*video plyer*/
.video-plyer iframe{width: 100% !important; height: 500px !important;}
.video-plyer li{height: 500px !important;}
/*custom contact form*/
.contact-form{}
.contact-form  .head-label{color: #2F7BB6; font-size: 16px;}
.contact-form  .ui-map{width: 100%; height: 300px; border: 1px solid #eee; padding: 5px; background: #fafafa;}
.contact-form  p{color: #888; font-size: 14px; margin: 0px;}


h1,h2,h3,h4,h5,h6,a,p{font-family: 'Battambang',Roboto;}
.clf{clear: both;}
.container{width: 1000px; padding: 0 15px 0 15px !important; background: #fff;}
/*.footer{color: #fff; background-color: #0f70a4;}
.footer .visitor{padding: 5px 0px;}
.footer .follow{float: right;}
.footer a{text-decoration: none;}
.footer a:hover{color: #ddd;}
.footer a.print{background-image: url(images/follow-btn.png); background-repeat: no-repeat;}
.footer p{color: #fff; margin-bottom: 4px; font-size: 10px; line-height: 17px;}
.footer p.btn{text-shadow: none;}
.footer .thumbnail{margin: 0; padding: 5px 10px; border-radius: 0px;}
.footer span{font-weight: normal; text-shadow: none;}
.nav-footer{list-style: none; padding: 0px; width: 100%; float: left; margin-top: 10px;}
.nav-footer li{display: table-cell!important; width: 1%; background: url(../img/sepnav.jpg) no-repeat left;}
.nav-footer li a{color: #fff;}
.nav-footer li:first-child{background: none;}*/

.scroll-top-wrap{right: 25px; position: fixed; bottom: 0; top: auto;}
.scroll-top{text-align: center; display: none; padding: 5px; background-color: rgba(255, 255, 255, 0.5); color: #919191; border-radius: 4px; box-shadow: 0 0 5px #D5D5D5; cursor: pointer;}

body.en,body.en h1,body.en h2,body.en h3,body.en h4,body.en h5,body.en h6,body.en a,body.en p{font-family: "Helvetica Neue",Roboto,sans-serif; line-height: 22px;}
/*Navication*/
.clearfix {
	float: none;
	clear: both;
}
.left{float:left !important;}
.breadcrub{color:#ccc;}
@media (min-width: 100px) {
.breadcrub{color:#ccc;}
}
.brlines{height:8px; width:100%; margin-top:10px; background:url('../css/images/breadcrumb.png');}

ul.bcrumbs {list-style:none; margin:0; padding:0;}
ul.bcrumbs li {float:left; margin-left:20px;}
ul.bcrumbs li a{color:#666;}
ul.bcrumbs li a:hover{color:#999; text-decoration:none;}
ul.bcrumbs li a.active{color:#999;}

a.homebtn{
width:21px;
height:21px;
background:url('../css/images/home-icon.png') #fff no-repeat  scroll -16px -10px;
color:#222;
-webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px;
-webkit-transition:.3s;-moz-transition:.3s;transition:.3s
}
a:hover.homebtn{
background:url('../css/images/home-icon.png') #222 no-repeat  scroll -16px -33px;
}

a.backbtn{
width:21px;
height:21px;
color:#222;
-webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px;
-webkit-transition:.3s;-moz-transition:.3s;transition:.3s
}
a:hover.backbtn{
background:url('../css/images/back-icon.png') #222 no-repeat  scroll -16px -31px;
}

.list-style-circle {
border: 1px solid #eee;
padding: 0px;
width: 30px;
height: 30px;
text-align: center;
vertical-align: middle;
display: table-cell;
border-radius: 50%;
}
.padding-left-50 {
padding-left: 50px;
}
.no-background {
background: none;
}
.color-gray {
color: #a0a0a0;
}
.font-size-11 {
font-size: 11px;
}
.color-cyan {
font-size: 15px;
color: #444;
margin-bottom: 5px;
font-weight: bold;
word-wrap: break-word;
}

.panel-he{}
.panel-he .panel-heading{background: #1382bf; border-radius: 0px;}
.list-wrap .panel-he .panel-heading>a>h3.panel-title{color: #FFFFFF; font-weight: normal; padding: 0px; font-size: 13px; letter-spacing: 1px;}
.list-wrap .panel-he .panel-heading>a:hover{text-decoration: none;}
.panel-he .panel-body{}
.border-bottom{border-bottom:1px solid rgba(194, 194, 194, 1)!important;}
.border-bottom:last-child{border: none!important;}
.border-left{border-left: 1px solid rgba(221, 221, 221, 0.34)!important;}
.border-right{border-right: 1px solid rgba(221, 221, 221, 0.34)!important;}
.border-right2{border-right: 1px solid #ddd!important;}
.new-panel{border-left: none!important; border-right: none!important; border-top: none!important; border-bottom: 1px solid rgba(221, 221, 221, 0.34)!important; box-shadow: none;}
.video-gallery-front{list-style: none;}
.video-gallery-front img{width: 	100%; height: auto;}
.panel-title{color: #164B99;}
.color-default{color: #164B99;}

.font-15{font-size: 15px;}
.font-16{font-size: 16px;}
.bold{font-weight: bold;}
.padding-0{padding: 0px!important;}
.width-100{width: 100%!important;}
.margin-0{margin: 0px!important;}
.no-border{border: none!important;}
.hr{border-top: 1px solid #ddd;}
.relative{position: relative;}
.space-1{width: 100%; height: 5px; display: block; clear: both;}
.space-2{width: 100%; height: 10px; display: block; clear: both;}
.space-3{width: 100%; height: 15px; display: block; clear: both;}
.clear-float{clear: both;}
.relative{position: relative;}
.fix-height{min-height: 0px;}
.color-8{color: #888;}
.color-default{color: #007AC6;}

.photo-album{position: relative;}
.photo-album-title{}
.photo-album .main{float: left; width: 58%; height: 100%; display: inline; position: absolute; background: #eee; overflow: hidden;}
.photo-album .main img{height: 100%; width: auto; position: relative; left: 50%; -ms-transform: translate(-50%,0); -webkit-transform: translate(-50%,0); transform: translate(-50%,0);}
.photo-album .sub{float: right; width: 42%; display: inline; padding-left: 10px;}
.photo-album .sub-item{/*height: 110px;*/height:100%; overflow: hidden;}
.photo-album .sub-item img{height: auto; position: relative; /*top: 50%; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%);*/}

.photos{}
.photos .main{margin-right: 4px;}
.photos .sub{}
.photos .sub .first{margin-bottom: 4px; display: block;}

.video-album{}
.video-album .video-gallery-front{}
.video-album .video-album-title{}



.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}


.no-text-decoration > a:hover{
	text-decoration: none;
}

.no-text-decoration .media-body a:hover{
	text-decoration: none;
}


.panel-item{}
.panel-item .panel-title{color: #777;}
.panel-item .badge.pull-right{margin-top: 6px;}

.pagination-1{}
.pagination-1 li{}
.pagination-1 li a{}

.grid-1{}
.grid-1 iframe{display: block;}
.grid-1 .thumb-cv{}
.grid-1 .thumb{border: 1px solid #DCDCDC;}
.grid-1 .detail{width: 100%;}
.grid-1 .title{padding: 10px 0px 0px 0px!important; margin: 0px; font-size: 15px; color: #2F7BB6; width: 310px;}
.text-over{bottom: 0px; padding: 23px 10px 0px 10px; /*background: url(../img/bg-over.png) repeat-x bottom; */}
.grid-1.grayscale .thumb img{-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.grid-1.grayscale .thumb:hover img{-webkit-filter: grayscale(0%); filter: grayscale(0%);}
.text-over span{color: #fff;}

.grid-1:hover .abs .title{color: #555;}
.grid-1 .detail.abs{width: 100%;}
/*.grid-1 .detail.abs .footer-grid{position: absolute; width: 310px; bottom: 0px;}*/
.row-set{padding-bottom: 40px; margin-bottom: 40px;}

/*custom lightbox*/
.lb-outerContainer{background: none; border-radius: 0px!important;}
.lb-outerContainer .lb-container{padding: 0px;}
.lb-outerContainer .lb-container img{border-radius: 0px;}

.no-background{background: none!important;}
.text-decoration-none{text-decoration: none;}
