

/* Reset the container */
.none-responsive .container {
  max-width: none !important;
  width: 1000px;
}

/* Always float the navbar header */
.none-responsive .navbar-side .navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.none-responsive .navbar-side .navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.none-responsive .navbar-side .navbar-toggle {
  display: none;
}
.none-responsive .navbar-side .navbar-collapse {
  border-top: 0;
}

/* Always apply the floated nav */
.none-responsive .navbar-side .navbar-nav {
  float: left;
  margin: 0;
}
.none-responsive .navbar-side .navbar-nav > li {
  
}

.none-responsive .superbox-list{width:25%!important;}

@media(max-width: 767px){
.none-responsive .navbar-side .navbar-nav > li{float: left;}
.none-responsive .navbar-side .navbar-nav .dropdown-menu li a{text-align: left;}
.none-responsive .navbar-side .navbar-nav .menu-item-site{width: 41.66666666666667%;}
.none-responsive .navbar-side .navbar-nav .dropdown-menu{position: absolute; width: 500px !important; margin-top: 4px !important; float: left; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);}

.none-responsive .standart-side{text-align: right !important;}
.none-responsive .logo-side{text-align: left !important;}
.none-responsive .logo-side img{width: auto !important;}
.navbar-form {
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


@media (min-width: 0px) {
  .none-responsive .col-md-1,
  .none-responsive .col-md-2,
  .none-responsive .col-md-3,
  .none-responsive .col-md-4,
  .none-responsive .col-md-5,
  .none-responsive .col-md-6,
  .none-responsive .col-md-7,
  .none-responsive .col-md-8,
  .none-responsive .col-md-9,
  .none-responsive .col-md-10,
  .none-responsive .col-md-11,
  .none-responsive .col-md-12 {
    float: left;
  }
  .none-responsive .col-md-12 {
    width: 100%;
  }
  .none-responsive .col-md-11 {
    width: 91.66666666666666%;
  }
  .none-responsive .col-md-10 {
    width: 83.33333333333334%;
  }
  .none-responsive .col-md-9 {
    width: 75%;
  }
  .none-responsive .col-md-8 {
    width: 66.66666666666666%;
  }
  .none-responsive .col-md-7 {
    width: 58.333333333333336%;
  }
  .none-responsive .col-md-6 {
    width: 50%;
  }
  .none-responsive .col-md-5 {
    width: 41.66666666666667%;
  }
  .none-responsive .col-md-4 {
    width: 33.33333333333333%;
  }
  .none-responsive .col-md-3 {
    width: 25%;
  }
  .none-responsive .col-md-2 {
    width: 16.666666666666664%;
  }
  .none-responsive .col-md-1 {
    width: 8.333333333333332%;
  }
  .none-responsive .col-md-pull-12 {
    right: 100%;
  }
  .none-responsive .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .none-responsive .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .none-responsive .col-md-pull-9 {
    right: 75%;
  }
  .none-responsive .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .none-responsive .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .none-responsive .col-md-pull-6 {
    right: 50%;
  }
  .none-responsive .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .none-responsive .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .none-responsive .col-md-pull-3 {
    right: 25%;
  }
  .none-responsive .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .none-responsive .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .none-responsive .col-md-pull-0 {
    right: 0;
  }
  .none-responsive .col-md-push-12 {
    left: 100%;
  }
  .none-responsive .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .none-responsive .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .none-responsive .col-md-push-9 {
    left: 75%;
  }
  .none-responsive .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .none-responsive .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .none-responsive .col-md-push-6 {
    left: 50%;
  }
  .none-responsive .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .none-responsive .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .none-responsive .col-md-push-3 {
    left: 25%;
  }
  .none-responsive .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .none-responsive .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .none-responsive .col-md-push-0 {
    left: 0;
  }
  .none-responsive .col-md-offset-12 {
    margin-left: 100%;
  }
  .none-responsive .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .none-responsive .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .none-responsive .col-md-offset-9 {
    margin-left: 75%;
  }
  .none-responsive .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .none-responsive .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .none-responsive .col-md-offset-6 {
    margin-left: 50%;
  }
  .none-responsive .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .none-responsive .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .none-responsive .col-md-offset-3 {
    margin-left: 25%;
  }
  .none-responsive .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .none-responsive .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .none-responsive .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
 .none-responsive .col-md-1,
  .none-responsive .col-md-2,
  .none-responsive .col-md-3,
  .none-responsive .col-md-4,
  .none-responsive .col-md-5,
  .none-responsive .col-md-6,
  .none-responsive .col-md-7,
  .none-responsive .col-md-8,
  .none-responsive .col-md-9,
  .none-responsive .col-md-10,
  .none-responsive .col-md-11,
  .none-responsive .col-md-12 {
    float: left;
  }
  .none-responsive .col-md-12 {
    width: 100%;
  }
  .none-responsive .col-md-11 {
    width: 91.66666666666666%;
  }
  .none-responsive .col-md-10 {
    width: 83.33333333333334%;
  }
  .none-responsive .col-md-9 {
    width: 75%;
  }
  .none-responsive .col-md-8 {
    width: 66.66666666666666%;
  }
  .none-responsive .col-md-7 {
    width: 58.333333333333336%;
  }
  .none-responsive .col-md-6 {
    width: 50%;
  }
  .none-responsive .col-md-5 {
    width: 41.66666666666667%;
  }
  .none-responsive .col-md-4 {
    width: 33.33333333333333%;
  }
  .none-responsive .col-md-3 {
    width: 25%;
  }
  .none-responsive .col-md-2 {
    width: 16.666666666666664%;
  }
  .none-responsive .col-md-1 {
    width: 8.333333333333332%;
  }
  .none-responsive .col-md-pull-12 {
    right: 100%;
  }
  .none-responsive .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .none-responsive .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .none-responsive .col-md-pull-9 {
    right: 75%;
  }
  .none-responsive .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .none-responsive .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .none-responsive .col-md-pull-6 {
    right: 50%;
  }
  .none-responsive .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .none-responsive .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .none-responsive .col-md-pull-3 {
    right: 25%;
  }
  .none-responsive .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .none-responsive .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .none-responsive .col-md-pull-0 {
    right: 0;
  }
  .none-responsive .col-md-push-12 {
    left: 100%;
  }
  .none-responsive .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .none-responsive .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .none-responsive .col-md-push-9 {
    left: 75%;
  }
  .none-responsive .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .none-responsive .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .none-responsive .col-md-push-6 {
    left: 50%;
  }
  .none-responsive .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .none-responsive .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .none-responsive .col-md-push-3 {
    left: 25%;
  }
  .none-responsive .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .none-responsive .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .none-responsive .col-md-push-0 {
    left: 0;
  }
  .none-responsive .col-md-offset-12 {
    margin-left: 100%;
  }
  .none-responsive .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .none-responsive .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .none-responsive .col-md-offset-9 {
    margin-left: 75%;
  }
  .none-responsive .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .none-responsive .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .none-responsive .col-md-offset-6 {
    margin-left: 50%;
  }
  .none-responsive .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .none-responsive .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .none-responsive .col-md-offset-3 {
    margin-left: 25%;
  }
  .none-responsive .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .none-responsive .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .none-responsive .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .none-responsive .col-md-1,
  .none-responsive .col-md-2,
  .none-responsive .col-md-3,
  .none-responsive .col-md-4,
  .none-responsive .col-md-5,
  .none-responsive .col-md-6,
  .none-responsive .col-md-7,
  .none-responsive .col-md-8,
  .none-responsive .col-md-9,
  .none-responsive .col-md-10,
  .none-responsive .col-md-11,
  .none-responsive .col-md-12 {
    float: left;
  }
  .none-responsive .col-md-12 {
    width: 100%;
  }
  .none-responsive .col-md-11 {
    width: 91.66666666666666%;
  }
  .none-responsive .col-md-10 {
    width: 83.33333333333334%;
  }
  .none-responsive .col-md-9 {
    width: 75%;
  }
  .none-responsive .col-md-8 {
    width: 66.66666666666666%;
  }
  .none-responsive .col-md-7 {
    width: 58.333333333333336%;
  }
  .none-responsive .col-md-6 {
    width: 50%;
  }
  .none-responsive .col-md-5 {
    width: 41.66666666666667%;
  }
  .none-responsive .col-md-4 {
    width: 33.33333333333333%;
  }
  .none-responsive .col-md-3 {
    width: 25%;
  }
  .none-responsive .col-md-2 {
    width: 16.666666666666664%;
  }
  .none-responsive .col-md-1 {
    width: 8.333333333333332%;
  }
  .none-responsive .col-md-pull-12 {
    right: 100%;
  }
  .none-responsive .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .none-responsive .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .none-responsive .col-md-pull-9 {
    right: 75%;
  }
  .none-responsive .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .none-responsive .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .none-responsive .col-md-pull-6 {
    right: 50%;
  }
  .none-responsive .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .none-responsive .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .none-responsive .col-md-pull-3 {
    right: 25%;
  }
  .none-responsive .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .none-responsive .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .none-responsive .col-md-pull-0 {
    right: 0;
  }
  .none-responsive .col-md-push-12 {
    left: 100%;
  }
  .none-responsive .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .none-responsive .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .none-responsive .col-md-push-9 {
    left: 75%;
  }
  .none-responsive .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .none-responsive .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .none-responsive .col-md-push-6 {
    left: 50%;
  }
  .none-responsive .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .none-responsive .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .none-responsive .col-md-push-3 {
    left: 25%;
  }
  .none-responsive .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .none-responsive .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .none-responsive .col-md-push-0 {
    left: 0;
  }
  .none-responsive .col-md-offset-12 {
    margin-left: 100%;
  }
  .none-responsive .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .none-responsive .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .none-responsive .col-md-offset-9 {
    margin-left: 75%;
  }
  .none-responsive .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .none-responsive .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .none-responsive .col-md-offset-6 {
    margin-left: 50%;
  }
  .none-responsive .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .none-responsive .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .none-responsive .col-md-offset-3 {
    margin-left: 25%;
  }
  .none-responsive .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .none-responsive .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .none-responsive .col-md-offset-0 {
    margin-left: 0;
  }
}
.none-responsive .hidden-xs{display: block!important;}
.none-responsive .hidden-sm{display: block!important;}
.none-responsive .hidden-md{display: block!important;}
.none-responsive .hidden-xs.hidden-sm, tr.hidden-xs.hidden-sm, th.hidden-xs.hidden-sm, td.hidden-xs.hidden-sm{display: block!important;}