
.text-center {
  text-align: center; !important }
.bold {
  font-weight: bold;
}
.text-white{
  color: #fff;
}
.black {
  color: #000;
}
.main-bg{
  background-color: #f5e99c;
}
.btn-blue,
.blue-hover:hover{
  color: #1a4882;
}

.width-90 {
    width: 90px;
}
.width-200 {
  width: 200px;
}

a,
a:hover {
  text-decoration: none; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu>li>a:focus {
  /*background-color: #2196f3;*/
  background-color: #0f4c94;
  border-color: #337ab7; }
header .row {
  margin: 0;
}
header .banner {
  background: #fff;}
  header .banner .title-banner{
    color: #1a4882;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  header .banner .img-lg{
    width: 100%;
  }
  header .banner .img-xs{
    margin: 0 auto;
    width: 50%;
  }

.navbar-asean {
  /*background: #1E88E5;*/
  background-color: #f5e99c;
  color: white;
  border-radius: 0;
  margin-bottom: 0px; }
  .navbar-asean li a{
    color: #164989; }
  .navbar-asean .navbar-nav > li.dropdown:hover > a, 
  .navbar-asean .navbar-nav > li.dropdown:hover > a:hover,
  .navbar-asean .navbar-nav > li.dropdown:hover > a:focus {
      color: #fff;
      background-color: #164989;
    }
  .navbar-asean ul.dropdown-menu li a {
    color: #fff; }
  .navbar-asean li a:hover {
    /*background: #2196f3;*/
    background: #0f4c94;
    color: #fff; }
    .nav>li>a:focus {
      color: #fff;
    text-decoration: none;
    background-color: #0f4c94;}
  .navbar-asean .navbar-brand {
    color: #164989;
    font-size: 14px; }
    .navbar-asean a.navbar-brand:hover {
      background-color: #164989;
      color: #fff;
    }
  .navbar-asean .dropdown-menu {
    background-color: #164989;
    border: none;
    padding: 0; }
    .navbar-asean .dropdown-menu li a {
      padding: 15px 20px; }
    .navbar-asean .dropdown-menu li a:hover {
      color: #0f4c94;
      background: white; }
      li.dropdown:hover > .dropdown-menu {
        display: block;
      }
      .navbar-toggle .icon-bar {
          background-color: #164989;
          text-transform: uppercase;
      }
      .log-in {
        color: #164989;
        padding: 15px 0;
      }
      .log-in i {
        margin-right: 5px;
      }



 /*Caroucel*/     

.carousel .right{
    cursor: url(../img/arrow-right.png), url(../img/arrow-right.cur), default !important;
}
.carousel .left {
    cursor: url(../img/arrow-left.png), url(../img/arrow-left.cur), default !important;
}
.slide .carousel-control span{
  display: none;
}
.carousel-inner>.item>img {
    width: 100%;
}


.content-site {


   }
  .table-contact .table-bordered,
  .table-contact .table-bordered thead tr th,
  .table-contact .table-bordered tbody tr td{
    border: 1px solid #1a4889;
    font-weight: 700;
  }

  .table-concept .table-bordered,
  .table-concept .table-bordered thead tr th,
  .table-concept .table-bordered tbody tr td {
    line-height: 2em !important;
  }
  .content-site .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 5%;
    z-index: 15;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none; }
    .content-site .carousel-indicators .active {
      /* width: 12px; */
      /* height: 12px; */
      margin: 0 3px;
      background-color: #fff; }
    .content-site .carousel-indicators li {
      display: inline-block;
      width: 40px;
      height: 4px;
      margin: 0px 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #dad7d7;
      /* border: 1px solid #fff; */
      border-radius: 0px;
      border: none;
      color: #fff; }
  .content-site .block-card {
    padding: 15px; }
    .content-site .block-card .card-title {
      padding-left: 15px;
      border-left: 2px solid #f5e99c; 
      font-size: 17px; }
    .content-site .block-card ul {
      padding-left: 0px; }
      .content-site .block-card ul li {
        margin-bottom: 10px;
        padding-left: 17px;
        list-style-type: none;
        background: url(../img/double-right-arrows.svg) no-repeat 0px 6px;
        background-size: 10px; }
        .content-site .block-card ul li i {
          margin-right: 5px; }
      .content-site .block-card ul a {
        color: #333; }
      .content-site .block-card ul a:hover {
        color: #1E88E5; }
      .content-site p {
        line-height: 1.6em;
        /*text-align: justify;*/ }
        article img.show {
          height: 250px;
      }
      article.style2 {
        margin-top: 30px; }

.news a {
  color: #333; }
.news a:hover {
  color: #337ab7; }
.news .table tbody td {
  border: none; }
.news .table tbody .td-first {
  vertical-align: middle; }
  .news .table tbody .td-first i {
    display: none; }
.news .table tbody tr:hover {
  background-color: #bce8f1; }
  .news .table tbody tr:hover .td-first {
    background-color: #1E88E5; }
    .news .table tbody tr:hover .td-first a {
      text-decoration: none !important; }
    .news .table tbody tr:hover .td-first i {
      display: block;
      color: white; }
.news .action {
  position: relative;
  display: inline-block; }
  .news .action i {
    padding: 0px 5px; }
  .news .action .action-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0; }
    .news .action .action-content ul {
      margin: 0px;
      padding-left: 0px; }
      .news .action .action-content ul li {
        list-style-type: none;
        margin-bottom: 5px; }
        .news .action .action-content ul li a:hover {
          text-decoration: underline;
          background-color: #ddd; }
      .news .action .action-content ul li:hover {
        background-color: #ddd; }
.news .action:hover .action-content {
  display: block; }

.declaration .table {
  border: 1px solid #ddd; }
  .declaration .table td {
    border: none; }
  .declaration .table a.title:hover {
    text-decoration: underline; }

.galary .galary-action a {
  margin-right: 15px; }
.galary .card-galary {
  overflow: hidden;
  height: 350px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer; }
  .galary .card-galary .card-img {
    height: 270px;
    overflow: hidden; }
  .galary .card-galary img {
    width: 100%; }
  .galary .card-galary .card-text {
    padding: 15px 0px 0px 0px; }
    .galary .card-galary .card-text .galary-title {
      padding-left: 15px;
      border-left: 3px solid #1E88E5; }
.galary .card-galary:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px); }

footer {
  
  padding: 15px 0px;
  background-color: #f5e99c;
  border-top: 10px solid #f1e292;
  color: #164989; }
  footer .copy-right {
    text-align: center; }
  footer .footer-menu a {
    color: #164989; }
  footer .footer-menu a:hover {
    text-decoration: underline; }
.bg-footer {
  border-top: 1px solid #f5f5f5;
}
.bg-footer img {
    margin: 0 auto;
}
.img-responsive {
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */

/*.carousel-inner{
  max-height: 460px;
}*/

.list-declaration{
  list-style-type: none;
  padding: 10px 0px;
}

.list-declaration li{
  padding: 15px 0px;
  border-bottom: 1px solid #c7e2f9;
  
}
.list-declaration li a{
  color:#808080;
}
.list-declaration li a i{
  color: #1E88E5;
}


/*Media screen section*/

@media (max-width: 480px) {
  /*.row {
    margin: 0;
  }*/
    .content-site .carousel-indicators li {
    width: 15px ;
  }
  .breadcrumb {
  padding: 0px;
  }
   .table-contact {
    font-size: 8px;
   }
   .menu-padding{
    padding-top: 10px;
   }
}

@media (max-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar-nav>li>a {
    font-size: 13px; }
}

@media screen and (min-width: 1024px){
  header .banner {
    padding: 0;
  }
}

@media screen and (min-width: 1366px){

}

/*End media screen*/

/*Effects*/

.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


/*Breadcrumb */

.breadcrumb {
  padding: 0px;
  background: #D4D4D4;
  list-style: none; 
  overflow: hidden;
  margin-top: 20px;
}
.breadcrumb>li+li:before {
  padding: 0;
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li.active a {
  background: brown;                   /* fallback color */
  background: #f5e99b; 
}
.breadcrumb li.completed a {
  background: brown;                   /* fallback color */
  background: hsl(215, 68%, 32%);
  color: white;
}
.breadcrumb li.active a:after {
  border-left: 30px solid #f5e99b;
}
.breadcrumb li.completed a:after {
  border-left: 30px solid hsl(209, 82%, 30%);
} 

.breadcrumb li a {
  color: #0f4e8a;
  text-decoration: none; 
  padding: 10px 0 10px 45px;
  position: relative; 
  display: block;
  float: left;
}
.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(0, 0%, 83%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
} 
.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
} 
.breadcrumb li:first-child a {
  padding-left: 15px;
}
.breadcrumb li a:hover { background: #f5e99b  ; color:#164989; }
.breadcrumb li a:hover:after { border-left-color: #f5e99b   !important; }

/*Scroll menu*/
.sticky {
    position:fixed;
    top:0;
    z-index: 99;
}
.main-menu{width:100%}
.menu-padding {
    padding-top:40px;
}
.model-title {
	color: #164989;
}


/*Profile*/
.navbar-right a.dropdown-toggle {
	padding: 10px 0 0;
  background: transparent;
}
.navbar-right .dropdown-menu {
  background: #fff;
  border-color: #E4E4E4;
}
.navbar-right .dropdown-menu .divider
{
  margin-top: 20px;
  background-color: #f1f1f1;
}
/* Fix navbar responsiveness */
.navbar-nav.navbar-right {
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  background: none !important;
}
.navbar-nav.navbar-right li.dropdown.open .dropdown-menu {
	display: block;
}
.profile .dropdown-toggle img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar-right .dropdown.profile .dropdown-menu li.profile-img {
    padding: 0;
    max-height: 300px;
    overflow: hidden;
}
.navbar-right .btn.btn-danger {
    background-color: #FA2A00;
    color: #FFF;
    border-color: #FA2A00;
}
.navbar-nav .navbar-right > li.dropdown:hover > a,
.navbar-nav .navbar-right > li.dropdown:hover > a:hover,
.navbar-nav .navbar-right > li.dropdown:hover > a:focus,
.navbar-nav .navbar-right > li a:hover
 {
    color: #fff;
    background-color: transparent;
}
.navbar-nav .navbar-right > li > a {
    color: #777;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    line-height: 60px;
    padding: 0 20px 0 20px;
}
.navbar-right > li > a {
  color: #76838f !important;
}
.profile-body h5,
.profile-body h6 {
  color: #76838f;
}
.navbar .dropdown.profile .dropdown-menu {
    display: none;
    margin-top: 11px;
    padding: 18px;
    width: 250px;
}
.navbar-right > li > a:hover,
.navbar-right .open > a,
.navbar-right > li > a:focus {
  background: transparent !important;
}
/*.navbar-nav.navbar-right li.dropdown.open .dropdown-menu {
    display: block;
}*/
.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
